@charset "UTF-8";

.add_icon_left_before{
  &:before{
    content: ' ';
    display: inline-block;
    width:16px;
    height:24px;
    background-image: url("../img/icon/icon_left.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
}
.add_icon_map{
  &:before{
    content: ' ';
    display: inline-block;
    width:24px;
    height:24px;
    background-image: url("../img/icon/icon_map.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
}
.add_icon_001{
  &:before{
    content: ' ';
    display: inline-block;
    width:18px;
    height:20px;
    background-image: url("../img/icon/icon_001.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
}
.add_icon_peijian{
  &:before{
    content: ' ';
    display: inline-block;
    width:18px;
    height:20px;
    background-image: url("../img/icon/icon_peijian.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
}
.add_icon_huo{
  &:before{
    content: ' ';
    display: inline-block;
    width:18px;
    height:20px;
    background-image: url("../img/icon/icon_huo.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
}
.add_icon_horn{
  &:before{
    content: ' ';
    display: inline-block;
    width:18px;
    height:20px;
    background-image: url("../img/icon/icon_horn.png");
    background-size: contain;
    background-position: 0 5px;
    background-repeat: no-repeat;
  }
}
.add_icon_edit{
  &:before{
    content: ' ';
    display: inline-block;
    width:52px;
    height:28px;
    background-image: url("../img/icon/icon_edit.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
}
.add_icon_deleted{
  &:before{
    content: ' ';
    display: inline-block;
    width:52px;
    height:28px;
    background-image: url("../img/icon/icon_deleted.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
}
.add_icon_left_search{
  &:before{
    content: ' ';
    display: inline-block;
    width:16px;
    height: 16px;
    background-image: url("../img/icon/icon_search.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
}
.add_icon_right_after{
  &:after{
    content: ' ';
    display: inline-block;
    width:1em;
    height: 1em;
    background-image: url("../img/icon/icon_right_1.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
}
.add_icon_checked_normal{
  &:before{
    content: ' ';
    display: inline-block;
    width:0.56rem;
    height: 0.42rem;
    background-image: url("../img/icon/icon_checked_normal.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
}
.active.add_icon_checked_normal{
  &:before{
    content: ' ';
    display: inline-block;
    width:0.56rem;
    height: 0.42rem;
    background-image: url("../img/icon/icon_checked_active.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
}
.add_icon_navigation_before{
  &:before{
    content: ' ';
    display: inline-block;
    width:0.56rem;
    height: 0.56rem;
    background-image: url("../img/icon/icon_navigation.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
}
.add_icon_nav_white_be{
  &:before{
    content: ' ';
    display: inline-block;
    width:0.52rem;
    height: 0.52rem;
    background-image: url("../img/icon/icon_nav_white.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
}
.add_icon_down{
   &:after{
     margin-left: 5px;
     content: ' ';
     display: inline-block;
     width:16px;
     height:16px;
     background-image: url("../img/icon/icon_down.png");
     background-size: contain;
     background-repeat: no-repeat;
   }
 }
.active{
  .add_icon_down{
    &:after{
      background-image: url("../img/icon/icon_up.png");
    }
  }
}

.add_icon_info_down{
  &:after{
    float: right;
    margin-left: 5px;
    margin-top: 2px;
    content: ' ';
    display: inline-block;
    width:16px;
    height:16px;
    background-image: url("../img/icon/icon_info_slidedown.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
}
.active{
  .add_icon_info_down{
    &:after{
      background-image: url("../img/icon/icon_info_slideup.png");
    }
  }
}
.add_icon_user_header{
  &:before{
    margin-left: 5px;
    content: ' ';
    display: inline-block;
    width:20px;
    height:20px;
    background-image: url("../img/icon/icon_header.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
}
.add_icon_phone{
  &:before{
    margin-left: 5px;
    content: ' ';
    display: inline-block;
    width:20px;
    height:20px;
    background-image: url("../img/icon/icon_phone.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
}
.add_icon_user_header{
   &:before{
     margin-left: 5px;
     content: ' ';
     display: inline-block;
     width:20px;
     height:20px;
     background-image: url("../img/icon/icon_header.png");
     background-size: contain;
     background-repeat: no-repeat;
   }
 }
.add_icon_help{
  &:before{
    float: left;
    margin-top: 3px;
    margin-right: 5px;
    content: ' ';
    display: inline-block;
    width:20px;
    height:22px;
    background-image: url("../img/icon/icon_help.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
}
.add_icon_checked{
  &:before{
    float: left;
    margin-top: 3px;
    margin-right: 5px;
    content: ' ';
    display: inline-block;
    width:20px;
    height:24px;
    background-image: url("../img/icon/icon_checked_normal.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
}
.active .add_icon_checked{
  &:before{
    float: left;
    margin-top: 3px;
    margin-right: 5px;
    content: ' ';
    display: inline-block;
    width:20px;
    height:24px;
    background-image: url("../img/icon/icon_checked_active.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
}
.add_icon_info_heart{
  &:before{
    float: left;
    margin-top: 3px;
    margin-right: 5px;
    content: ' ';
    display: inline-block;
    width:20px;
    height:22px;
    background-image: url("../img/icon_info_heart.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
}
.add_icon_nav{
  &:before{
    content: ' ';
    display: inline-block;
    width:16px;
    height:18px;
    background-image: url("../img/icon/icon_navigation_001.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
}
.add_icon_true{
  &:before{
    margin-left: 5px;
    content: ' ';
    display: inline-block;
    width:20px;
    height:20px;
    background-image: url("../img/icon/icon_false.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
}
.add_icon_map_1{
  &:before{
    content: ' ';
    display: inline-block;
    width:16px;
    height:16px;
    background-image: url("../img/map_icon_false.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
}
.add_icon_list{
  &:before{
    content: ' ';
    display: inline-block;
    width:22px;
    height:22px;
    background-image: url("../img/icon/icon_list.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
}
.active{
  .add_icon_map_1{
    &:before{
      content: ' ';
      display: inline-block;
      width:16px;
      height:16px;
      background-image: url("../img/map_icon_true.png");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}
.active.add_icon_true{
  &:before{
    margin-left: 5px;
    content: ' ';
    display: inline-block;
    width:20px;
    height:20px;
    background-image: url("../img/icon/icon_true.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
}
.active .add_icon_true{
  &:before{
    margin-left: 5px;
    content: ' ';
    display: inline-block;
    width:20px;
    height:20px;
    background-image: url("../img/icon/icon_true.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
}
