@charset "UTF-8";

@import "settings";
@import "mixin";
.header_che{
  display: inline-block;
  top: 10px;
  right: 10px;
  position: absolute;
  z-index: 9;
  width:28px;
  height: 26px;
  background-image: url("../img/icon_che.png");
  background-size: cover;
  .tips{
    float: right;
    margin-top: -2px;
    margin-right: -2px;
    line-height: 16px;
    width:16px;
    height:16px;
    background-color: $red;;
    font-size: 12px;
    color: white;
    border-radius: 50%;
  }
}
.collection{
  .img_1{
    width:100%;
    height: 3.6rem;
    border-radius: 5px;
    .pos-abs{
      width: 100%;
      bottom: 0;
      left:0;
      background-color: rgba(0,0,0,0.5);
      p{
        margin: 5px 0;
      }
    }
  }
}
.access_info{
  width:100%;
  height: 3.6rem;
  .shop_img{
    margin-top: 0.4rem;
    @extend %center_block;
    width:4.8rem;
    height: 3.6rem;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 4px $gray_light;
    box-shadow: 0 0 4px $gray_light;
  }
}
.user_star{
  list-style: none;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
  li{
    float: left;
    width: 24px;
    height: 24px;
    margin: 2px 5px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    &.star_normal{
      background-image: url(../img/star_normal.png);
    }
    &.star_focus{
      background-image: url(../img/star_focus.png);
    }
  }
}
.description{
  height: 84px;
  overflow: hidden;
}
table.user_menu{
  background: white;
  width: 100%;
  tr{
    text-align: center;
    &:nth-last-of-type(1){
      td{
        border-bottom: none;
      }
    }
    td{
      padding-top: 10px;
      border:1px solid $gray;
      border-top:none;
      width: 33.3%;
      &:nth-of-type(3n+1){
        border-right: none;
        border-left: none;
      }
      &:nth-of-type(3n+2){
        border-right: none;
      }
      &:nth-of-type(3n){
        border-right: none;
      }
      p{
        margin: 2px auto;
        padding-bottom: 8px;
      }
      img{
        width:42%;
      }
    }
  }
}
.clear_fix{
  @extend %clear_fix;
}
.spec{
  li{
    float: left;
    line-height: 14px;
    border: 1px solid $gray;
    box-sizing: border-box;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 12px;
    margin-left: 5px;
    padding: 2px 5px;
  }
  .active{
    color: white;
    background-color: $info;
    border-color: transparent;
  }
}
.user_c_info{
  width: 100%;
  height: 5.2rem;
  background-color: $gray_center;
  .head_info{
    width:2rem;
    height: 2rem;
    background-color: $info;
    border-radius: 50%;
    overflow: hidden;
    @extend %center_block;
  }
}
.user_type{
  color: $orange;
  border:1px solid $orange;
  border-radius: 3px;
  padding:2px 5px;
}
header{
  h1{
    font-size: 18px;
    line-height: 45px;
    margin: 0;
    padding: 0;
    font-weight: 500;
  }
  .icon{
    font-size: 14px;
    position: absolute;
  }
  .icon_l{
    position: absolute;
    left: 0.24rem;
    top:7px;
  }
  .pull_left{
    top:7px;
    left: 0.2rem;
  }
  .pull_right{
    top:7px;
    right: 0.2rem;
  }
  .search_form{
    margin-top: 6px;
    display: inline-block;
    height: 32px;
    border-radius: 5px;
    border: 1px solid $gray;
    background-color: nth($gray_light,2);
    overflow: hidden;
    &:before{
      float:left;
      margin-top: 8px;
      margin-left: 10px;
    }
    input{
      float: right;
      padding-left: 8px;
      @extend %margin_pad_0;
      width:6.8rem;
      line-height: 30px;
      border: none;
      outline: none;
      border-radius: 5px;
      background-color: transparent;
    }
  }
  .nav_btn{
    background-color: $green;
    color: white;
    padding:2px 4px;
    line-height: 24px;
    margin-top: 8px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }
  .search_form_1{
    margin-left: -1.22rem;
    margin-top: 6px;
    display: inline-block;
    height: 32px;
    border-radius: 5px;
    border: 1px solid $gray;
    background-color: nth($gray_light,2);
    overflow: hidden;
    &:before{
      float:left;
      margin-top: 8px;
      margin-left: 10px;
    }
    input{
      float: right;
      padding-left: 8px;
      @extend %margin_pad_0;
      width:5.6rem;
      line-height: 30px;
      border: none;
      outline: none;
      border-radius: 5px;
      background-color: transparent;
    }
  }
}
footer{
  .nav_tap{
    p{
      margin: 0;
      font-size: 12px;
      margin-top: 3px;
      color: $gray_center;
    }
    .tap{
      margin: 0 auto;
      margin-top: 4px;
      width:24px;
      height:24px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    .icon_home{
      background-image: url("../img/tap_home.png");
    }
    .icon_car{
      background-image: url("../img/tap_car.png");
    }
    .icon_marker{
      background-image: url("../img/tap_map.png");
    }
    .icon_user{
      background-image: url("../img/tap_my.png");
    }
    .pos-abs{
      background-color: $red;
      border-radius: 50%;
      height: 14px;
      width: 14px;
      line-height: 14px;
      font-size: 10px;
      text-align: center;
      right:0;
      color: white;
    }
    .active{
      p{
        color: $font_info;
      }
      .icon_home{
        background-image: url("../img/tap_home_active.png");
      }
      .icon_car{
        background-image: url("../img/tap_car_active.png");
      }
      .icon_marker{
        background-image: url("../img/tap_map_active.png");
      }
      .icon_user{
        background-image: url("../img/tap_my_active.png");
      }
    }
  }
}
section{
  background-color: white;
  padding: 0.2rem;
  -webkit-box-shadow: 0 0 2px $gray_dark;
          box-shadow: 0 0 2px $gray_dark;
}
.product_list{
  .img{
    width:100%;
    height:2.4rem;
  }
}
.bg_white{
  background-color: white;
}
.pull_left{
  float: left;
}
.pull_right{
  float: right;
}
.f_bluelight{
  color: $info;
}
.bluelight{
  background-color: $info;
  color: white;
}
.f_white{
  color: nth($base_font_color,1);
}
.f_gray{
  color: $gray_dark;
}
.f_red{
  color: #ff6671;
}
.f_info{
  color: $info;
}
.f_orange{
  color: $orange;
}
.f_green{
  color: $green;
}
.f_black{
  color: black;
}
.bg_img{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1,h2,h3,h4,h5,h6{
  font-weight: 500;
}
.width_60{
  width:60%;
}
.width_50{
  width:50%;
}
.width_40{
  width:40%;
}
.width_30{
  width:30%;
}
.width_20{
  width:20%;
}
.width_10{
  width:10%;
}
.border_l_1{
  border-left: 1px solid nth($gray_light,1);
}
.border_r_1{
  border-right: 1px solid nth($gray_light,1);
}
.padding_t_b_5{
  padding-top: 5px;
  padding-bottom: 5px;
}
h1{
  font-size: 24px;
}
h2{
  font-size: 18px;
}
h3{
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}
h4{
  font-size: 14px;
}
p{
  font-size: 14px;
}
h1 small,
 h2 small,
 h3 small,
 h4 small,
 h5 small,
 h6 small,
 h1 .small,
 h2 .small,
 h3 .small,
 h4 .small,
 h5 .small,
 h6 .small {
   font-weight: 400;
   font-size: .7em;
   line-height: 1;
   color: #777;
 }
.text-light {
  font-weight: 300;
  font-style: normal;
}
.text-normal {
  font-weight: 400;
  font-style: normal;
}
.text-bold {
  font-style: normal;
  font-weight: 700;
}
.text-italic {
  font-style: italic;
}
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
.capital {
  text-transform: capitalize;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}
.align-justify {
  text-align: justify;
}
.v-align-top {
  vertical-align: top;
}
.v-align-bottom {
  vertical-align: bottom;
}
.v-align-baseline {
  vertical-align: baseline;
}
.v-align-middle {
  vertical-align: middle;
}
.v-align-sub {
  vertical-align: sub;
}
.v-align-super {
  vertical-align: super;
}
.v-align-top-text {
  vertical-align: text-top;
}
.v-align-bottom-text {
  vertical-align: text-bottom;
}
.text-dashed {
  border: 0;
  border-bottom: 1px gray dashed;
  display: inline;
}
.indent-paragraph:first-letter {
  margin-left: 2.5rem;
}
.text-secondary {
  font-size: 0.75rem;
}
.text-accent,
.text-enlarged {
  font-size: 1.1rem;
}
.text-default {
  font-size: 0.875rem;
}
.text-small {
  font-size: 0.625rem;
}
.text-light {
  font-weight: 300;
}
.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.unstyled-list {
  padding-left: 0;
  list-style: none;
}
.unstyled-list li ul,
.unstyled-list li ol {
  list-style: none;
  padding-left: 1.5625rem;
}
.inline-list {
  list-style: none;
  padding-left: 0;
}
.inline-list li {
  display: inline-block;
  margin-right: .625rem;
}
.inline-list li:last-child {
  margin-right: 0;
}
a {
  color: $darken;
}
hr {
  border: 0;
  height: 2px;
  background-color: #88b9e3;
}
hr.thin {
  height: 1px;
}
hr.fat {
  height: 3px;
}
.tab{
  padding: 1px 5px;
  &.tab_fat{
    padding: 4px 10px;
  }
  &.tab_orange{
    color: $orange;
    border: 1px solid $orange;
    border-radius: 3px;
  }
  &.tab_green{
    color: $green;
    border: 1px solid $green;
    border-radius: 3px;
  }
  &.tab_gray{
    color: $gray;
    border: 1px solid $gray;
    border-radius: 3px;
  }
  &.tab_alert{
    color: $pink;
    border: 1px solid $pink;
    border-radius: 3px;
  }
  &.tab_info{
    color: $info;
    border: 1px solid $info;
    border-radius: 3px;
  }
  &.fat{
    padding: 5px 10px;
  }
  &.fatter{
    padding: 8px 20px;
  }
}


.tag {
  display: inline-block;
  text-align: center;
  height: 24px;
  line-height: 24px;
  min-width: 24px;
  font-size: 12px;
  vertical-align: middle;
  color: white;
  background-color: $gray;
  @include border_radius(12px)
}
.tag.success {
  background-color: #60a917;
  color: #ffffff;
}
.tag.alert {
  background-color: $pink;
  color: #ffffff;
}
.tag.info {
  background-color: $info;
  color: #ffffff;
}
.tag.warning {
  background-color: $orange;
  color: #ffffff;
}
a.tag {
  text-decoration: underline;
  cursor: pointer;
}
.container {
  width: 960px;
  margin: 0 auto;
}
.fixed-top,
.fixed-bottom {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1030;
}
.fixed-top {
  top: 0;
  bottom: auto;
}
.fixed-bottom {
  top: auto;
  bottom: 0;
}
.pos-abs {
  position: absolute !important;
}
.pos-rel {
  position: relative !important;
}
.pos-fix {
  position: fixed !important;
}
.margin_t_b_5{
  margin-top: 5px;
  margin-bottom: 5px;
}
.img_block{
  width:100%;
}
.border_d_grey_1{
  border: 1px dashed $gray;
}
hr{
  height: 1px;
  background-color: #CCCCCC;
  border: none;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
.padding_0{
  padding: 0;
}
.padding_l_r_0{
  padding-right: 0;
  padding-left: 0;
}
.margin_0{
  margin: 0;
}
.margin_5{
  margin: 5px;
}
.padding_8{
  padding: 8px;
}
.margin_top_8{
  margin-top: 8px;
}
@for $i from 1 to 10{
  .border_s_gray_#{$i}{
    border: $i+px solid $gray;
  }
};
$i:5;
@while($i<=80){
  .padding_#{$i}{
    padding:$i+px;
  }
  .margin_#{$i}{
    margin:$i+px;
  }
  .padding_left_#{$i} {
    padding-left: $i+px;
  }
  .padding_right_#{$i} {
    padding-right: $i+px;
  }
  .padding_top_#{$i} {
    padding-top: $i+px;
  }
  .padding_bottom_#{$i} {
    padding-bottom: $i+px;
  }
  .margin_left_#{$i} {
    margin-left: $i+px;
  }
  .margin_right_#{$i} {
    margin-right: $i+px;
  }
  .margin_top_#{$i} {
    margin-top: $i+px;
  }
  .margin_bottom_#{$i} {
    margin-bottom: $i+px;
  }
  $i:$i+5;
};
$i:8;
@while($i<50){
  .f_#{$i}{
    font-size: $i+px !important;
  }
  $i:$i+2;
}