.clear_fix:before, .clear_fix:after {
  content: "";
  display: table; }
.clear_fix:after {
  clear: both; }

header .search_form input, header .search_form_1 input {
  margin: 0;
  padding: 0; }

.access_info .shop_img, .user_c_info .head_info {
  margin-left: auto;
  margin-right: auto; }

.clear_fix {
  *zoom: 1; }
  .clear_fix:before, .clear_fix:after {
    content: "";
    display: table; }
  .clear_fix:after {
    clear: both; }

.clear_fix:before, .clear_fix:after {
  content: "";
  display: table; }
.clear_fix:after {
  clear: both; }

header .search_form input, header .search_form_1 input {
  margin: 0;
  padding: 0; }

.access_info .shop_img, .user_c_info .head_info {
  margin-left: auto;
  margin-right: auto; }

.clear_fix {
  *zoom: 1; }
  .clear_fix:before, .clear_fix:after {
    content: "";
    display: table; }
  .clear_fix:after {
    clear: both; }

.header_che {
  display: inline-block;
  top: 10px;
  right: 10px;
  position: absolute;
  z-index: 9;
  width: 28px;
  height: 26px;
  background-image: url("../img/icon_che.png");
  background-size: cover; }
  .header_che .tips {
    float: right;
    margin-top: -2px;
    margin-right: -2px;
    line-height: 16px;
    width: 16px;
    height: 16px;
    background-color: #ff0000;
    font-size: 12px;
    color: white;
    border-radius: 50%; }

.collection .img_1 {
  width: 100%;
  height: 3.6rem;
  border-radius: 5px; }
  .collection .img_1 .pos-abs {
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); }
    .collection .img_1 .pos-abs p {
      margin: 5px 0; }

.access_info {
  width: 100%;
  height: 3.6rem; }
  .access_info .shop_img {
    margin-top: 0.4rem;
    width: 4.8rem;
    height: 3.6rem;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 4px #ececec #f4f4f4;
    box-shadow: 0 0 4px #ececec #f4f4f4; }

.user_star {
  list-style: none;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px; }
  .user_star li {
    float: left;
    width: 24px;
    height: 24px;
    margin: 2px 5px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center; }
    .user_star li.star_normal {
      background-image: url(../img/star_normal.png); }
    .user_star li.star_focus {
      background-image: url(../img/star_focus.png); }

.description {
  height: 84px;
  overflow: hidden; }

table.user_menu {
  background: white;
  width: 100%; }
  table.user_menu tr {
    text-align: center; }
    table.user_menu tr:nth-last-of-type(1) td {
      border-bottom: none; }
    table.user_menu tr td {
      padding-top: 10px;
      border: 1px solid #ccc;
      border-top: none;
      width: 33.3%; }
      table.user_menu tr td:nth-of-type(3n+1) {
        border-right: none;
        border-left: none; }
      table.user_menu tr td:nth-of-type(3n+2) {
        border-right: none; }
      table.user_menu tr td:nth-of-type(3n) {
        border-right: none; }
      table.user_menu tr td p {
        margin: 2px auto;
        padding-bottom: 8px; }
      table.user_menu tr td img {
        width: 42%; }

.spec li {
  float: left;
  line-height: 14px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 12px;
  margin-left: 5px;
  padding: 2px 5px; }
.spec .active {
  color: white;
  background-color: #58cef9;
  border-color: transparent; }

.user_c_info {
  width: 100%;
  height: 5.2rem;
  background-color: #666666; }
  .user_c_info .head_info {
    width: 2rem;
    height: 2rem;
    background-color: #58cef9;
    border-radius: 50%;
    overflow: hidden; }

.user_type {
  color: #fe940b;
  border: 1px solid #fe940b;
  border-radius: 3px;
  padding: 2px 5px; }

header h1 {
  font-size: 18px;
  line-height: 45px;
  margin: 0;
  padding: 0;
  font-weight: 500; }
header .icon {
  font-size: 14px;
  position: absolute; }
header .icon_l {
  position: absolute;
  left: 0.24rem;
  top: 7px; }
header .pull_left {
  top: 7px;
  left: 0.2rem; }
header .pull_right {
  top: 7px;
  right: 0.2rem; }
header .search_form {
  margin-top: 6px;
  display: inline-block;
  height: 32px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f4f4f4;
  overflow: hidden; }
  header .search_form:before {
    float: left;
    margin-top: 8px;
    margin-left: 10px; }
  header .search_form input {
    float: right;
    padding-left: 8px;
    width: 6.8rem;
    line-height: 30px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: transparent; }
header .nav_btn {
  background-color: #4edc07;
  color: white;
  padding: 2px 4px;
  line-height: 24px;
  margin-top: 8px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }
header .search_form_1 {
  margin-left: -1.22rem;
  margin-top: 6px;
  display: inline-block;
  height: 32px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f4f4f4;
  overflow: hidden; }
  header .search_form_1:before {
    float: left;
    margin-top: 8px;
    margin-left: 10px; }
  header .search_form_1 input {
    float: right;
    padding-left: 8px;
    width: 5.6rem;
    line-height: 30px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: transparent; }

footer .nav_tap p {
  margin: 0;
  font-size: 12px;
  margin-top: 3px;
  color: #666666; }
footer .nav_tap .tap {
  margin: 0 auto;
  margin-top: 4px;
  width: 24px;
  height: 24px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
footer .nav_tap .icon_home {
  background-image: url("../img/tap_home.png"); }
footer .nav_tap .icon_car {
  background-image: url("../img/tap_car.png"); }
footer .nav_tap .icon_marker {
  background-image: url("../img/tap_map.png"); }
footer .nav_tap .icon_user {
  background-image: url("../img/tap_my.png"); }
footer .nav_tap .pos-abs {
  background-color: #ff0000;
  border-radius: 50%;
  height: 14px;
  width: 14px;
  line-height: 14px;
  font-size: 10px;
  text-align: center;
  right: 0;
  color: white; }
footer .nav_tap .active p {
  color: #58cef9; }
footer .nav_tap .active .icon_home {
  background-image: url("../img/tap_home_active.png"); }
footer .nav_tap .active .icon_car {
  background-image: url("../img/tap_car_active.png"); }
footer .nav_tap .active .icon_marker {
  background-image: url("../img/tap_map_active.png"); }
footer .nav_tap .active .icon_user {
  background-image: url("../img/tap_my_active.png"); }

section {
  background-color: white;
  padding: 0.2rem;
  -webkit-box-shadow: 0 0 2px #999;
  box-shadow: 0 0 2px #999; }

.product_list .img {
  width: 100%;
  height: 2.4rem; }

.bg_white {
  background-color: white; }

.pull_left {
  float: left; }

.pull_right {
  float: right; }

.f_bluelight {
  color: #58cef9; }

.bluelight {
  background-color: #58cef9;
  color: white; }

.f_white {
  color: #fff; }

.f_gray {
  color: #999; }

.f_red {
  color: #ff6671; }

.f_info {
  color: #58cef9; }

.f_orange {
  color: #fe940b; }

.f_green {
  color: #4edc07; }

.f_black {
  color: black; }

.bg_img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 500; }

.width_60 {
  width: 60%; }

.width_50 {
  width: 50%; }

.width_40 {
  width: 40%; }

.width_30 {
  width: 30%; }

.width_20 {
  width: 20%; }

.width_10 {
  width: 10%; }

.border_l_1 {
  border-left: 1px solid #ececec; }

.border_r_1 {
  border-right: 1px solid #ececec; }

.padding_t_b_5 {
  padding-top: 5px;
  padding-bottom: 5px; }

h1 {
  font-size: 24px; }

h2 {
  font-size: 18px; }

h3 {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px; }

h4 {
  font-size: 14px; }

p {
  font-size: 14px; }

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small {
  font-weight: 400;
  font-size: .7em;
  line-height: 1;
  color: #777; }

.text-light {
  font-weight: 300;
  font-style: normal; }

.text-normal {
  font-weight: 400;
  font-style: normal; }

.text-bold {
  font-style: normal;
  font-weight: 700; }

.text-italic {
  font-style: italic; }

.uppercase {
  text-transform: uppercase; }

.lowercase {
  text-transform: lowercase; }

.capital {
  text-transform: capitalize; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.align-center {
  text-align: center; }

.align-justify {
  text-align: justify; }

.v-align-top {
  vertical-align: top; }

.v-align-bottom {
  vertical-align: bottom; }

.v-align-baseline {
  vertical-align: baseline; }

.v-align-middle {
  vertical-align: middle; }

.v-align-sub {
  vertical-align: sub; }

.v-align-super {
  vertical-align: super; }

.v-align-top-text {
  vertical-align: text-top; }

.v-align-bottom-text {
  vertical-align: text-bottom; }

.text-dashed {
  border: 0;
  border-bottom: 1px gray dashed;
  display: inline; }

.indent-paragraph:first-letter {
  margin-left: 2.5rem; }

.text-secondary {
  font-size: 0.75rem; }

.text-accent,
.text-enlarged {
  font-size: 1.1rem; }

.text-default {
  font-size: 0.875rem; }

.text-small {
  font-size: 0.625rem; }

.text-light {
  font-weight: 300; }

.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.unstyled-list {
  padding-left: 0;
  list-style: none; }

.unstyled-list li ul,
.unstyled-list li ol {
  list-style: none;
  padding-left: 1.5625rem; }

.inline-list {
  list-style: none;
  padding-left: 0; }

.inline-list li {
  display: inline-block;
  margin-right: .625rem; }

.inline-list li:last-child {
  margin-right: 0; }

a {
  color: #434343; }

hr {
  border: 0;
  height: 2px;
  background-color: #88b9e3; }

hr.thin {
  height: 1px; }

hr.fat {
  height: 3px; }

.tab {
  padding: 1px 5px; }
  .tab.tab_fat {
    padding: 4px 10px; }
  .tab.tab_orange {
    color: #fe940b;
    border: 1px solid #fe940b;
    border-radius: 3px; }
  .tab.tab_green {
    color: #4edc07;
    border: 1px solid #4edc07;
    border-radius: 3px; }
  .tab.tab_gray {
    color: #ccc;
    border: 1px solid #ccc;
    border-radius: 3px; }
  .tab.tab_alert {
    color: #eb6877;
    border: 1px solid #eb6877;
    border-radius: 3px; }
  .tab.tab_info {
    color: #58cef9;
    border: 1px solid #58cef9;
    border-radius: 3px; }
  .tab.fat {
    padding: 5px 10px; }
  .tab.fatter {
    padding: 8px 20px; }

.tag {
  display: inline-block;
  text-align: center;
  height: 24px;
  line-height: 24px;
  min-width: 24px;
  font-size: 12px;
  vertical-align: middle;
  color: white;
  background-color: #ccc;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px; }

.tag.success {
  background-color: #60a917;
  color: #ffffff; }

.tag.alert {
  background-color: #eb6877;
  color: #ffffff; }

.tag.info {
  background-color: #58cef9;
  color: #ffffff; }

.tag.warning {
  background-color: #fe940b;
  color: #ffffff; }

a.tag {
  text-decoration: underline;
  cursor: pointer; }

.container {
  width: 960px;
  margin: 0 auto; }

.fixed-top,
.fixed-bottom {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1030; }

.fixed-top {
  top: 0;
  bottom: auto; }

.fixed-bottom {
  top: auto;
  bottom: 0; }

.pos-abs {
  position: absolute !important; }

.pos-rel {
  position: relative !important; }

.pos-fix {
  position: fixed !important; }

.margin_t_b_5 {
  margin-top: 5px;
  margin-bottom: 5px; }

.img_block {
  width: 100%; }

.border_d_grey_1 {
  border: 1px dashed #ccc; }

hr {
  height: 1px;
  background-color: #CCCCCC;
  border: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

.padding_0 {
  padding: 0; }

.padding_l_r_0 {
  padding-right: 0;
  padding-left: 0; }

.margin_0 {
  margin: 0; }

.margin_5 {
  margin: 5px; }

.padding_8 {
  padding: 8px; }

.margin_top_8 {
  margin-top: 8px; }

.border_s_gray_1 {
  border: 1px solid #ccc; }

.border_s_gray_2 {
  border: 2px solid #ccc; }

.border_s_gray_3 {
  border: 3px solid #ccc; }

.border_s_gray_4 {
  border: 4px solid #ccc; }

.border_s_gray_5 {
  border: 5px solid #ccc; }

.border_s_gray_6 {
  border: 6px solid #ccc; }

.border_s_gray_7 {
  border: 7px solid #ccc; }

.border_s_gray_8 {
  border: 8px solid #ccc; }

.border_s_gray_9 {
  border: 9px solid #ccc; }

.padding_5 {
  padding: 5px; }

.margin_5 {
  margin: 5px; }

.padding_left_5 {
  padding-left: 5px; }

.padding_right_5 {
  padding-right: 5px; }

.padding_top_5 {
  padding-top: 5px; }

.padding_bottom_5 {
  padding-bottom: 5px; }

.margin_left_5 {
  margin-left: 5px; }

.margin_right_5 {
  margin-right: 5px; }

.margin_top_5 {
  margin-top: 5px; }

.margin_bottom_5 {
  margin-bottom: 5px; }

.padding_10 {
  padding: 10px; }

.margin_10 {
  margin: 10px; }

.padding_left_10 {
  padding-left: 10px; }

.padding_right_10 {
  padding-right: 10px; }

.padding_top_10 {
  padding-top: 10px; }

.padding_bottom_10 {
  padding-bottom: 10px; }

.margin_left_10 {
  margin-left: 10px; }

.margin_right_10 {
  margin-right: 10px; }

.margin_top_10 {
  margin-top: 10px; }

.margin_bottom_10 {
  margin-bottom: 10px; }

.padding_15 {
  padding: 15px; }

.margin_15 {
  margin: 15px; }

.padding_left_15 {
  padding-left: 15px; }

.padding_right_15 {
  padding-right: 15px; }

.padding_top_15 {
  padding-top: 15px; }

.padding_bottom_15 {
  padding-bottom: 15px; }

.margin_left_15 {
  margin-left: 15px; }

.margin_right_15 {
  margin-right: 15px; }

.margin_top_15 {
  margin-top: 15px; }

.margin_bottom_15 {
  margin-bottom: 15px; }

.padding_20 {
  padding: 20px; }

.margin_20 {
  margin: 20px; }

.padding_left_20 {
  padding-left: 20px; }

.padding_right_20 {
  padding-right: 20px; }

.padding_top_20 {
  padding-top: 20px; }

.padding_bottom_20 {
  padding-bottom: 20px; }

.margin_left_20 {
  margin-left: 20px; }

.margin_right_20 {
  margin-right: 20px; }

.margin_top_20 {
  margin-top: 20px; }

.margin_bottom_20 {
  margin-bottom: 20px; }

.padding_25 {
  padding: 25px; }

.margin_25 {
  margin: 25px; }

.padding_left_25 {
  padding-left: 25px; }

.padding_right_25 {
  padding-right: 25px; }

.padding_top_25 {
  padding-top: 25px; }

.padding_bottom_25 {
  padding-bottom: 25px; }

.margin_left_25 {
  margin-left: 25px; }

.margin_right_25 {
  margin-right: 25px; }

.margin_top_25 {
  margin-top: 25px; }

.margin_bottom_25 {
  margin-bottom: 25px; }

.padding_30 {
  padding: 30px; }

.margin_30 {
  margin: 30px; }

.padding_left_30 {
  padding-left: 30px; }

.padding_right_30 {
  padding-right: 30px; }

.padding_top_30 {
  padding-top: 30px; }

.padding_bottom_30 {
  padding-bottom: 30px; }

.margin_left_30 {
  margin-left: 30px; }

.margin_right_30 {
  margin-right: 30px; }

.margin_top_30 {
  margin-top: 30px; }

.margin_bottom_30 {
  margin-bottom: 30px; }

.padding_35 {
  padding: 35px; }

.margin_35 {
  margin: 35px; }

.padding_left_35 {
  padding-left: 35px; }

.padding_right_35 {
  padding-right: 35px; }

.padding_top_35 {
  padding-top: 35px; }

.padding_bottom_35 {
  padding-bottom: 35px; }

.margin_left_35 {
  margin-left: 35px; }

.margin_right_35 {
  margin-right: 35px; }

.margin_top_35 {
  margin-top: 35px; }

.margin_bottom_35 {
  margin-bottom: 35px; }

.padding_40 {
  padding: 40px; }

.margin_40 {
  margin: 40px; }

.padding_left_40 {
  padding-left: 40px; }

.padding_right_40 {
  padding-right: 40px; }

.padding_top_40 {
  padding-top: 40px; }

.padding_bottom_40 {
  padding-bottom: 40px; }

.margin_left_40 {
  margin-left: 40px; }

.margin_right_40 {
  margin-right: 40px; }

.margin_top_40 {
  margin-top: 40px; }

.margin_bottom_40 {
  margin-bottom: 40px; }

.padding_45 {
  padding: 45px; }

.margin_45 {
  margin: 45px; }

.padding_left_45 {
  padding-left: 45px; }

.padding_right_45 {
  padding-right: 45px; }

.padding_top_45 {
  padding-top: 45px; }

.padding_bottom_45 {
  padding-bottom: 45px; }

.margin_left_45 {
  margin-left: 45px; }

.margin_right_45 {
  margin-right: 45px; }

.margin_top_45 {
  margin-top: 45px; }

.margin_bottom_45 {
  margin-bottom: 45px; }

.padding_50 {
  padding: 50px; }

.margin_50 {
  margin: 50px; }

.padding_left_50 {
  padding-left: 50px; }

.padding_right_50 {
  padding-right: 50px; }

.padding_top_50 {
  padding-top: 50px; }

.padding_bottom_50 {
  padding-bottom: 50px; }

.margin_left_50 {
  margin-left: 50px; }

.margin_right_50 {
  margin-right: 50px; }

.margin_top_50 {
  margin-top: 50px; }

.margin_bottom_50 {
  margin-bottom: 50px; }

.padding_55 {
  padding: 55px; }

.margin_55 {
  margin: 55px; }

.padding_left_55 {
  padding-left: 55px; }

.padding_right_55 {
  padding-right: 55px; }

.padding_top_55 {
  padding-top: 55px; }

.padding_bottom_55 {
  padding-bottom: 55px; }

.margin_left_55 {
  margin-left: 55px; }

.margin_right_55 {
  margin-right: 55px; }

.margin_top_55 {
  margin-top: 55px; }

.margin_bottom_55 {
  margin-bottom: 55px; }

.padding_60 {
  padding: 60px; }

.margin_60 {
  margin: 60px; }

.padding_left_60 {
  padding-left: 60px; }

.padding_right_60 {
  padding-right: 60px; }

.padding_top_60 {
  padding-top: 60px; }

.padding_bottom_60 {
  padding-bottom: 60px; }

.margin_left_60 {
  margin-left: 60px; }

.margin_right_60 {
  margin-right: 60px; }

.margin_top_60 {
  margin-top: 60px; }

.margin_bottom_60 {
  margin-bottom: 60px; }

.padding_65 {
  padding: 65px; }

.margin_65 {
  margin: 65px; }

.padding_left_65 {
  padding-left: 65px; }

.padding_right_65 {
  padding-right: 65px; }

.padding_top_65 {
  padding-top: 65px; }

.padding_bottom_65 {
  padding-bottom: 65px; }

.margin_left_65 {
  margin-left: 65px; }

.margin_right_65 {
  margin-right: 65px; }

.margin_top_65 {
  margin-top: 65px; }

.margin_bottom_65 {
  margin-bottom: 65px; }

.padding_70 {
  padding: 70px; }

.margin_70 {
  margin: 70px; }

.padding_left_70 {
  padding-left: 70px; }

.padding_right_70 {
  padding-right: 70px; }

.padding_top_70 {
  padding-top: 70px; }

.padding_bottom_70 {
  padding-bottom: 70px; }

.margin_left_70 {
  margin-left: 70px; }

.margin_right_70 {
  margin-right: 70px; }

.margin_top_70 {
  margin-top: 70px; }

.margin_bottom_70 {
  margin-bottom: 70px; }

.padding_75 {
  padding: 75px; }

.margin_75 {
  margin: 75px; }

.padding_left_75 {
  padding-left: 75px; }

.padding_right_75 {
  padding-right: 75px; }

.padding_top_75 {
  padding-top: 75px; }

.padding_bottom_75 {
  padding-bottom: 75px; }

.margin_left_75 {
  margin-left: 75px; }

.margin_right_75 {
  margin-right: 75px; }

.margin_top_75 {
  margin-top: 75px; }

.margin_bottom_75 {
  margin-bottom: 75px; }

.padding_80 {
  padding: 80px; }

.margin_80 {
  margin: 80px; }

.padding_left_80 {
  padding-left: 80px; }

.padding_right_80 {
  padding-right: 80px; }

.padding_top_80 {
  padding-top: 80px; }

.padding_bottom_80 {
  padding-bottom: 80px; }

.margin_left_80 {
  margin-left: 80px; }

.margin_right_80 {
  margin-right: 80px; }

.margin_top_80 {
  margin-top: 80px; }

.margin_bottom_80 {
  margin-bottom: 80px; }

.f_8 {
  font-size: 8px !important; }

.f_10 {
  font-size: 10px !important; }

.f_12 {
  font-size: 12px !important; }

.f_14 {
  font-size: 14px !important; }

.f_16 {
  font-size: 16px !important; }

.f_18 {
  font-size: 18px !important; }

.f_20 {
  font-size: 20px !important; }

.f_22 {
  font-size: 22px !important; }

.f_24 {
  font-size: 24px !important; }

.f_26 {
  font-size: 26px !important; }

.f_28 {
  font-size: 28px !important; }

.f_30 {
  font-size: 30px !important; }

.f_32 {
  font-size: 32px !important; }

.f_34 {
  font-size: 34px !important; }

.f_36 {
  font-size: 36px !important; }

.f_38 {
  font-size: 38px !important; }

.f_40 {
  font-size: 40px !important; }

.f_42 {
  font-size: 42px !important; }

.f_44 {
  font-size: 44px !important; }

.f_46 {
  font-size: 46px !important; }

.f_48 {
  font-size: 48px !important; }

.grid {
  display: block;
  position: relative; }

.grid:before,
.grid:after {
  display: table;
  content: ""; }

.grid:after {
  clear: both; }

.grid .row {
  width: 100%;
  display: block; }

.grid .row:before,
.grid .row:after {
  display: table;
  content: ""; }

.grid .row:after {
  clear: both; }

.grid .row:last-child {
  margin-bottom: 0; }

.grid .row > .cell {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  min-height: 10px; }

.grid .row > .cell:first-child {
  margin-left: 0; }

.grid .row.cells2 > .cell {
  width: 49.98%; }

.grid .row.cells2 > .cell.colspan2 {
  width: 100%; }

.grid .row.cells2 > .cell.offset1 {
  margin-left: 50%; }

.grid .row.cells2 > .cell.offset2 {
  margin-left: 100%; }

.grid .row.cells3 > .cell {
  width: 33.3%; }

.grid .row.cells3 > .cell.colspan2 {
  width: 66.55745%; }

.grid .row.cells3 > .cell.colspan3 {
  width: 100%; }

.grid .row.cells3 > .cell.offset1 {
  margin-left: 33.3%; }

.grid .row.cells3 > .cell.offset2 {
  margin-left: 66.6%; }

.grid .row.cells3 > .cell.offset3 {
  margin-left: 100%; }

.grid .row.cells4 > .cell {
  width: 24.8%; }

.grid .row.cells4 > .cell.colspan2 {
  width: 49.8%; }

.grid .row.cells4 > .cell.colspan3 {
  width: 74.4680875%; }

.grid .row.cells4 > .cell.colspan4 {
  width: 100%; }

.grid .row.cells4 > .cell.offset1 {
  margin-left: 25.5319125%; }

.grid .row.cells4 > .cell.offset2 {
  margin-left: 51.063825%; }

.grid .row.cells4 > .cell.offset3 {
  margin-left: 76.5957375%; }

.grid .row.cells4 > .cell.offset4 {
  margin-left: 102.12765%; }

.grid .row.cells5 > .cell {
  width: 18.29788%; }

.grid .row.cells5 > .cell.colspan2 {
  width: 38.72341%; }

.grid .row.cells5 > .cell.colspan3 {
  width: 59.14894%; }

.grid .row.cells5 > .cell.colspan4 {
  width: 79.57447%; }

.grid .row.cells5 > .cell.colspan5 {
  width: 100%; }

.grid .row.cells5 > .cell.offset1 {
  margin-left: 20.42553%; }

.grid .row.cells5 > .cell.offset2 {
  margin-left: 40.85106%; }

.grid .row.cells5 > .cell.offset3 {
  margin-left: 61.27659%; }

.grid .row.cells5 > .cell.offset4 {
  margin-left: 81.70212%; }

.grid .row.cells5 > .cell.offset5 {
  margin-left: 102.12765%; }

.grid .row.cells6 > .cell {
  width: 14.893625%; }

.grid .row.cells6 > .cell.colspan2 {
  width: 31.9149%; }

.grid .row.cells6 > .cell.colspan3 {
  width: 48.936175%; }

.grid .row.cells6 > .cell.colspan4 {
  width: 65.95745%; }

.grid .row.cells6 > .cell.colspan5 {
  width: 82.978725%; }

.grid .row.cells6 > .cell.colspan6 {
  width: 100%; }

.grid .row.cells6 > .cell.offset1 {
  margin-left: 17.021275%; }

.grid .row.cells6 > .cell.offset2 {
  margin-left: 34.04255%; }

.grid .row.cells6 > .cell.offset3 {
  margin-left: 51.063825%; }

.grid .row.cells6 > .cell.offset4 {
  margin-left: 68.0851%; }

.grid .row.cells6 > .cell.offset5 {
  margin-left: 85.106375%; }

.grid .row.cells6 > .cell.offset6 {
  margin-left: 102.12765%; }

.grid .row.cells7 > .cell {
  width: 12.46201429%; }

.grid .row.cells7 > .cell.colspan2 {
  width: 27.05167857%; }

.grid .row.cells7 > .cell.colspan3 {
  width: 41.64134286%; }

.grid .row.cells7 > .cell.colspan4 {
  width: 56.23100714%; }

.grid .row.cells7 > .cell.colspan5 {
  width: 70.82067143%; }

.grid .row.cells7 > .cell.colspan6 {
  width: 85.41033571%; }

.grid .row.cells7 > .cell.colspan7 {
  width: 100%; }

.grid .row.cells7 > .cell.offset1 {
  margin-left: 14.58966429%; }

.grid .row.cells7 > .cell.offset2 {
  margin-left: 29.17932857%; }

.grid .row.cells7 > .cell.offset3 {
  margin-left: 43.76899286%; }

.grid .row.cells7 > .cell.offset4 {
  margin-left: 58.35865714%; }

.grid .row.cells7 > .cell.offset5 {
  margin-left: 72.94832143%; }

.grid .row.cells7 > .cell.offset6 {
  margin-left: 87.53798571%; }

.grid .row.cells7 > .cell.offset7 {
  margin-left: 102.12765%; }

.grid .row.cells8 > .cell {
  width: 10.63830625%; }

.grid .row.cells8 > .cell.colspan2 {
  width: 23.4042625%; }

.grid .row.cells8 > .cell.colspan3 {
  width: 36.17021875%; }

.grid .row.cells8 > .cell.colspan4 {
  width: 48.936175%; }

.grid .row.cells8 > .cell.colspan5 {
  width: 61.70213125%; }

.grid .row.cells8 > .cell.colspan6 {
  width: 74.4680875%; }

.grid .row.cells8 > .cell.colspan7 {
  width: 87.23404375%; }

.grid .row.cells8 > .cell.colspan8 {
  width: 100%; }

.grid .row.cells8 > .cell.offset1 {
  margin-left: 12.76595625%; }

.grid .row.cells8 > .cell.offset2 {
  margin-left: 25.5319125%; }

.grid .row.cells8 > .cell.offset3 {
  margin-left: 38.29786875%; }

.grid .row.cells8 > .cell.offset4 {
  margin-left: 51.063825%; }

.grid .row.cells8 > .cell.offset5 {
  margin-left: 63.82978125%; }

.grid .row.cells8 > .cell.offset6 {
  margin-left: 76.5957375%; }

.grid .row.cells8 > .cell.offset7 {
  margin-left: 89.36169375%; }

.grid .row.cells8 > .cell.offset8 {
  margin-left: 102.12765%; }

.grid .row.cells9 > .cell {
  width: 9.21986667%; }

.grid .row.cells9 > .cell.colspan2 {
  width: 20.56738333%; }

.grid .row.cells9 > .cell.colspan3 {
  width: 31.9149%; }

.grid .row.cells9 > .cell.colspan4 {
  width: 43.26241667%; }

.grid .row.cells9 > .cell.colspan5 {
  width: 54.60993333%; }

.grid .row.cells9 > .cell.colspan6 {
  width: 65.95745%; }

.grid .row.cells9 > .cell.colspan7 {
  width: 77.30496667%; }

.grid .row.cells9 > .cell.colspan8 {
  width: 88.65248333%; }

.grid .row.cells9 > .cell.colspan9 {
  width: 100%; }

.grid .row.cells9 > .cell.offset1 {
  margin-left: 11.34751667%; }

.grid .row.cells9 > .cell.offset2 {
  margin-left: 22.69503333%; }

.grid .row.cells9 > .cell.offset3 {
  margin-left: 34.04255%; }

.grid .row.cells9 > .cell.offset4 {
  margin-left: 45.39006667%; }

.grid .row.cells9 > .cell.offset5 {
  margin-left: 56.73758333%; }

.grid .row.cells9 > .cell.offset6 {
  margin-left: 68.0851%; }

.grid .row.cells9 > .cell.offset7 {
  margin-left: 79.43261667%; }

.grid .row.cells9 > .cell.offset8 {
  margin-left: 90.78013333%; }

.grid .row.cells9 > .cell.offset9 {
  margin-left: 102.12765%; }

.grid .row.cells10 > .cell {
  width: 8.085115%; }

.grid .row.cells10 > .cell.colspan2 {
  width: 18.29788%; }

.grid .row.cells10 > .cell.colspan3 {
  width: 28.510645%; }

.grid .row.cells10 > .cell.colspan4 {
  width: 38.72341%; }

.grid .row.cells10 > .cell.colspan5 {
  width: 48.936175%; }

.grid .row.cells10 > .cell.colspan6 {
  width: 59.14894%; }

.grid .row.cells10 > .cell.colspan7 {
  width: 69.361705%; }

.grid .row.cells10 > .cell.colspan8 {
  width: 79.57447%; }

.grid .row.cells10 > .cell.colspan9 {
  width: 89.787235%; }

.grid .row.cells10 > .cell.colspan10 {
  width: 100%; }

.grid .row.cells10 > .cell.offset1 {
  margin-left: 10.212765%; }

.grid .row.cells10 > .cell.offset2 {
  margin-left: 20.42553%; }

.grid .row.cells10 > .cell.offset3 {
  margin-left: 30.638295%; }

.grid .row.cells10 > .cell.offset4 {
  margin-left: 40.85106%; }

.grid .row.cells10 > .cell.offset5 {
  margin-left: 51.063825%; }

.grid .row.cells10 > .cell.offset6 {
  margin-left: 61.27659%; }

.grid .row.cells10 > .cell.offset7 {
  margin-left: 71.489355%; }

.grid .row.cells10 > .cell.offset8 {
  margin-left: 81.70212%; }

.grid .row.cells10 > .cell.offset9 {
  margin-left: 91.914885%; }

.grid .row.cells10 > .cell.offset10 {
  margin-left: 102.12765%; }

.grid .row.cells11 > .cell {
  width: 7.15668182%; }

.grid .row.cells11 > .cell.colspan2 {
  width: 16.44101364%; }

.grid .row.cells11 > .cell.colspan3 {
  width: 25.72534545%; }

.grid .row.cells11 > .cell.colspan4 {
  width: 35.00967727%; }

.grid .row.cells11 > .cell.colspan5 {
  width: 44.29400909%; }

.grid .row.cells11 > .cell.colspan6 {
  width: 53.57834091%; }

.grid .row.cells11 > .cell.colspan7 {
  width: 62.86267273%; }

.grid .row.cells11 > .cell.colspan8 {
  width: 72.14700455%; }

.grid .row.cells11 > .cell.colspan9 {
  width: 81.43133636%; }

.grid .row.cells11 > .cell.colspan10 {
  width: 90.71566818%; }

.grid .row.cells11 > .cell.colspan11 {
  width: 100%; }

.grid .row.cells11 > .cell.offset1 {
  margin-left: 9.28433182%; }

.grid .row.cells11 > .cell.offset2 {
  margin-left: 18.56866364%; }

.grid .row.cells11 > .cell.offset3 {
  margin-left: 27.85299545%; }

.grid .row.cells11 > .cell.offset4 {
  margin-left: 37.13732727%; }

.grid .row.cells11 > .cell.offset5 {
  margin-left: 46.42165909%; }

.grid .row.cells11 > .cell.offset6 {
  margin-left: 55.70599091%; }

.grid .row.cells11 > .cell.offset7 {
  margin-left: 64.99032273%; }

.grid .row.cells11 > .cell.offset8 {
  margin-left: 74.27465455%; }

.grid .row.cells11 > .cell.offset9 {
  margin-left: 83.55898636%; }

.grid .row.cells11 > .cell.offset10 {
  margin-left: 92.84331818%; }

.grid .row.cells11 > .cell.offset11 {
  margin-left: 102.12765%; }

.grid .row.cells12 > .cell {
  width: 8.3%; }

.grid .row.cells12 > .cell.colspan2 {
  width: 16.66%; }

.grid .row.cells12 > .cell.colspan3 {
  width: 25%; }

.grid .row.cells12 > .cell.colspan4 {
  width: 33.33%; }

.grid .row.cells12 > .cell.colspan5 {
  width: 41.6%; }

.grid .row.cells12 > .cell.colspan6 {
  width: 49.836175%; }

.grid .row.cells12 > .cell.colspan7 {
  width: 57.4468125%; }

.grid .row.cells12 > .cell.colspan8 {
  width: 65.95745%; }

.grid .row.cells12 > .cell.colspan9 {
  width: 74.4680875%; }

.grid .row.cells12 > .cell.colspan10 {
  width: 82.978725%; }

.grid .row.cells12 > .cell.colspan11 {
  width: 91.4893625%; }

.grid .row.cells12 > .cell.colspan12 {
  width: 100%; }

.grid .row.cells12 > .cell.offset1 {
  margin-left: 8.5106375%; }

.grid .row.cells12 > .cell.offset2 {
  margin-left: 17.021275%; }

.grid .row.cells12 > .cell.offset3 {
  margin-left: 25.5319125%; }

.grid .row.cells12 > .cell.offset4 {
  margin-left: 34.04255%; }

.grid .row.cells12 > .cell.offset5 {
  margin-left: 42.5531875%; }

.grid .row.cells12 > .cell.offset6 {
  margin-left: 51.063825%; }

.grid .row.cells12 > .cell.offset7 {
  margin-left: 59.5744625%; }

.grid .row.cells12 > .cell.offset8 {
  margin-left: 68.0851%; }

.grid .row.cells12 > .cell.offset9 {
  margin-left: 76.5957375%; }

.grid .row.cells12 > .cell.offset10 {
  margin-left: 85.106375%; }

.grid .row.cells12 > .cell.offset11 {
  margin-left: 93.6170125%; }

.grid .row.cells12 > .cell.offset12 {
  margin-left: 102.12765%; }

.grid .row:empty {
  display: none; }

.grid.condensed .row {
  margin: 0 0 0 0; }

.grid.condensed .row:last-child {
  margin-bottom: 0; }

.grid.condensed .row > .cell {
  margin: 0 0 0 0; }

.grid.condensed .row.cells2 > .cell {
  width: 50%; }

.grid.condensed .row.cells2 > .cell.colspan2 {
  width: 100%; }

.grid.condensed .row.cells2 > .cell.offset1 {
  margin-left: 50%; }

.grid.condensed .row.cells2 > .cell.offset2 {
  margin-left: 100%; }

.grid.condensed .row.cells3 > .cell {
  width: 33.33333333%; }

.grid.condensed .row.cells3 > .cell.colspan2 {
  width: 66.66666667%; }

.grid.condensed .row.cells3 > .cell.colspan3 {
  width: 100%; }

.grid.condensed .row.cells3 > .cell.offset1 {
  margin-left: 33.33333333%; }

.grid.condensed .row.cells3 > .cell.offset2 {
  margin-left: 66.66666667%; }

.grid.condensed .row.cells3 > .cell.offset3 {
  margin-left: 100%; }

.grid.condensed .row.cells4 > .cell {
  width: 25%; }

.grid.condensed .row.cells4 > .cell.colspan2 {
  width: 50%; }

.grid.condensed .row.cells4 > .cell.colspan3 {
  width: 75%; }

.grid.condensed .row.cells4 > .cell.colspan4 {
  width: 100%; }

.grid.condensed .row.cells4 > .cell.offset1 {
  margin-left: 25%; }

.grid.condensed .row.cells4 > .cell.offset2 {
  margin-left: 50%; }

.grid.condensed .row.cells4 > .cell.offset3 {
  margin-left: 75%; }

.grid.condensed .row.cells4 > .cell.offset4 {
  margin-left: 100%; }

.grid.condensed .row.cells5 > .cell {
  width: 20%; }

.grid.condensed .row.cells5 > .cell.colspan2 {
  width: 40%; }

.grid.condensed .row.cells5 > .cell.colspan3 {
  width: 60%; }

.grid.condensed .row.cells5 > .cell.colspan4 {
  width: 80%; }

.grid.condensed .row.cells5 > .cell.colspan5 {
  width: 100%; }

.grid.condensed .row.cells5 > .cell.offset1 {
  margin-left: 20%; }

.grid.condensed .row.cells5 > .cell.offset2 {
  margin-left: 40%; }

.grid.condensed .row.cells5 > .cell.offset3 {
  margin-left: 60%; }

.grid.condensed .row.cells5 > .cell.offset4 {
  margin-left: 80%; }

.grid.condensed .row.cells5 > .cell.offset5 {
  margin-left: 100%; }

.grid.condensed .row.cells6 > .cell {
  width: 16.66666667%; }

.grid.condensed .row.cells6 > .cell.colspan2 {
  width: 33.33333333%; }

.grid.condensed .row.cells6 > .cell.colspan3 {
  width: 50%; }

.grid.condensed .row.cells6 > .cell.colspan4 {
  width: 66.66666667%; }

.grid.condensed .row.cells6 > .cell.colspan5 {
  width: 83.33333333%; }

.grid.condensed .row.cells6 > .cell.colspan6 {
  width: 100%; }

.grid.condensed .row.cells6 > .cell.offset1 {
  margin-left: 16.66666667%; }

.grid.condensed .row.cells6 > .cell.offset2 {
  margin-left: 33.33333333%; }

.grid.condensed .row.cells6 > .cell.offset3 {
  margin-left: 50%; }

.grid.condensed .row.cells6 > .cell.offset4 {
  margin-left: 66.66666667%; }

.grid.condensed .row.cells6 > .cell.offset5 {
  margin-left: 83.33333333%; }

.grid.condensed .row.cells6 > .cell.offset6 {
  margin-left: 100%; }

.grid.condensed .row.cells7 > .cell {
  width: 14.28571429%; }

.grid.condensed .row.cells7 > .cell.colspan2 {
  width: 28.57142857%; }

.grid.condensed .row.cells7 > .cell.colspan3 {
  width: 42.85714286%; }

.grid.condensed .row.cells7 > .cell.colspan4 {
  width: 57.14285714%; }

.grid.condensed .row.cells7 > .cell.colspan5 {
  width: 71.42857143%; }

.grid.condensed .row.cells7 > .cell.colspan6 {
  width: 85.71428571%; }

.grid.condensed .row.cells7 > .cell.colspan7 {
  width: 100%; }

.grid.condensed .row.cells7 > .cell.offset1 {
  margin-left: 14.28571429%; }

.grid.condensed .row.cells7 > .cell.offset2 {
  margin-left: 28.57142857%; }

.grid.condensed .row.cells7 > .cell.offset3 {
  margin-left: 42.85714286%; }

.grid.condensed .row.cells7 > .cell.offset4 {
  margin-left: 57.14285714%; }

.grid.condensed .row.cells7 > .cell.offset5 {
  margin-left: 71.42857143%; }

.grid.condensed .row.cells7 > .cell.offset6 {
  margin-left: 85.71428571%; }

.grid.condensed .row.cells7 > .cell.offset7 {
  margin-left: 100%; }

.grid.condensed .row.cells8 > .cell {
  width: 12.5%; }

.grid.condensed .row.cells8 > .cell.colspan2 {
  width: 25%; }

.grid.condensed .row.cells8 > .cell.colspan3 {
  width: 37.5%; }

.grid.condensed .row.cells8 > .cell.colspan4 {
  width: 50%; }

.grid.condensed .row.cells8 > .cell.colspan5 {
  width: 62.5%; }

.grid.condensed .row.cells8 > .cell.colspan6 {
  width: 75%; }

.grid.condensed .row.cells8 > .cell.colspan7 {
  width: 87.5%; }

.grid.condensed .row.cells8 > .cell.colspan8 {
  width: 100%; }

.grid.condensed .row.cells8 > .cell.offset1 {
  margin-left: 12.5%; }

.grid.condensed .row.cells8 > .cell.offset2 {
  margin-left: 25%; }

.grid.condensed .row.cells8 > .cell.offset3 {
  margin-left: 37.5%; }

.grid.condensed .row.cells8 > .cell.offset4 {
  margin-left: 50%; }

.grid.condensed .row.cells8 > .cell.offset5 {
  margin-left: 62.5%; }

.grid.condensed .row.cells8 > .cell.offset6 {
  margin-left: 75%; }

.grid.condensed .row.cells8 > .cell.offset7 {
  margin-left: 87.5%; }

.grid.condensed .row.cells8 > .cell.offset8 {
  margin-left: 100%; }

.grid.condensed .row.cells9 > .cell {
  width: 11.11111111%; }

.grid.condensed .row.cells9 > .cell.colspan2 {
  width: 22.22222222%; }

.grid.condensed .row.cells9 > .cell.colspan3 {
  width: 33.33333333%; }

.grid.condensed .row.cells9 > .cell.colspan4 {
  width: 44.44444444%; }

.grid.condensed .row.cells9 > .cell.colspan5 {
  width: 55.55555556%; }

.grid.condensed .row.cells9 > .cell.colspan6 {
  width: 66.66666667%; }

.grid.condensed .row.cells9 > .cell.colspan7 {
  width: 77.77777778%; }

.grid.condensed .row.cells9 > .cell.colspan8 {
  width: 88.88888889%; }

.grid.condensed .row.cells9 > .cell.colspan9 {
  width: 100%; }

.grid.condensed .row.cells9 > .cell.offset1 {
  margin-left: 11.11111111%; }

.grid.condensed .row.cells9 > .cell.offset2 {
  margin-left: 22.22222222%; }

.grid.condensed .row.cells9 > .cell.offset3 {
  margin-left: 33.33333333%; }

.grid.condensed .row.cells9 > .cell.offset4 {
  margin-left: 44.44444444%; }

.grid.condensed .row.cells9 > .cell.offset5 {
  margin-left: 55.55555556%; }

.grid.condensed .row.cells9 > .cell.offset6 {
  margin-left: 66.66666667%; }

.grid.condensed .row.cells9 > .cell.offset7 {
  margin-left: 77.77777778%; }

.grid.condensed .row.cells9 > .cell.offset8 {
  margin-left: 88.88888889%; }

.grid.condensed .row.cells9 > .cell.offset9 {
  margin-left: 100%; }

.grid.condensed .row.cells10 > .cell {
  width: 10%; }

.grid.condensed .row.cells10 > .cell.colspan2 {
  width: 20%; }

.grid.condensed .row.cells10 > .cell.colspan3 {
  width: 30%; }

.grid.condensed .row.cells10 > .cell.colspan4 {
  width: 40%; }

.grid.condensed .row.cells10 > .cell.colspan5 {
  width: 50%; }

.grid.condensed .row.cells10 > .cell.colspan6 {
  width: 60%; }

.grid.condensed .row.cells10 > .cell.colspan7 {
  width: 70%; }

.grid.condensed .row.cells10 > .cell.colspan8 {
  width: 80%; }

.grid.condensed .row.cells10 > .cell.colspan9 {
  width: 90%; }

.grid.condensed .row.cells10 > .cell.colspan10 {
  width: 100%; }

.grid.condensed .row.cells10 > .cell.offset1 {
  margin-left: 10%; }

.grid.condensed .row.cells10 > .cell.offset2 {
  margin-left: 20%; }

.grid.condensed .row.cells10 > .cell.offset3 {
  margin-left: 30%; }

.grid.condensed .row.cells10 > .cell.offset4 {
  margin-left: 40%; }

.grid.condensed .row.cells10 > .cell.offset5 {
  margin-left: 50%; }

.grid.condensed .row.cells10 > .cell.offset6 {
  margin-left: 60%; }

.grid.condensed .row.cells10 > .cell.offset7 {
  margin-left: 70%; }

.grid.condensed .row.cells10 > .cell.offset8 {
  margin-left: 80%; }

.grid.condensed .row.cells10 > .cell.offset9 {
  margin-left: 90%; }

.grid.condensed .row.cells10 > .cell.offset10 {
  margin-left: 100%; }

.grid.condensed .row.cells11 > .cell {
  width: 9.09090909%; }

.grid.condensed .row.cells11 > .cell.colspan2 {
  width: 18.18181818%; }

.grid.condensed .row.cells11 > .cell.colspan3 {
  width: 27.27272727%; }

.grid.condensed .row.cells11 > .cell.colspan4 {
  width: 36.36363636%; }

.grid.condensed .row.cells11 > .cell.colspan5 {
  width: 45.45454545%; }

.grid.condensed .row.cells11 > .cell.colspan6 {
  width: 54.54545455%; }

.grid.condensed .row.cells11 > .cell.colspan7 {
  width: 63.63636364%; }

.grid.condensed .row.cells11 > .cell.colspan8 {
  width: 72.72727273%; }

.grid.condensed .row.cells11 > .cell.colspan9 {
  width: 81.81818182%; }

.grid.condensed .row.cells11 > .cell.colspan10 {
  width: 90.90909091%; }

.grid.condensed .row.cells11 > .cell.colspan11 {
  width: 100%; }

.grid.condensed .row.cells11 > .cell.offset1 {
  margin-left: 9.09090909%; }

.grid.condensed .row.cells11 > .cell.offset2 {
  margin-left: 18.18181818%; }

.grid.condensed .row.cells11 > .cell.offset3 {
  margin-left: 27.27272727%; }

.grid.condensed .row.cells11 > .cell.offset4 {
  margin-left: 36.36363636%; }

.grid.condensed .row.cells11 > .cell.offset5 {
  margin-left: 45.45454545%; }

.grid.condensed .row.cells11 > .cell.offset6 {
  margin-left: 54.54545455%; }

.grid.condensed .row.cells11 > .cell.offset7 {
  margin-left: 63.63636364%; }

.grid.condensed .row.cells11 > .cell.offset8 {
  margin-left: 72.72727273%; }

.grid.condensed .row.cells11 > .cell.offset9 {
  margin-left: 81.81818182%; }

.grid.condensed .row.cells11 > .cell.offset10 {
  margin-left: 90.90909091%; }

.grid.condensed .row.cells11 > .cell.offset11 {
  margin-left: 100%; }

.grid.condensed .row.cells12 > .cell {
  width: 8.33333333%; }

.grid.condensed .row.cells12 > .cell.colspan2 {
  width: 16.66666667%; }

.grid.condensed .row.cells12 > .cell.colspan3 {
  width: 25%; }

.grid.condensed .row.cells12 > .cell.colspan4 {
  width: 33.33333333%; }

.grid.condensed .row.cells12 > .cell.colspan5 {
  width: 41.66666667%; }

.grid.condensed .row.cells12 > .cell.colspan6 {
  width: 50%; }

.grid.condensed .row.cells12 > .cell.colspan7 {
  width: 58.33333333%; }

.grid.condensed .row.cells12 > .cell.colspan8 {
  width: 66.66666667%; }

.grid.condensed .row.cells12 > .cell.colspan9 {
  width: 75%; }

.grid.condensed .row.cells12 > .cell.colspan10 {
  width: 83.33333333%; }

.grid.condensed .row.cells12 > .cell.colspan11 {
  width: 91.66666667%; }

.grid.condensed .row.cells12 > .cell.colspan12 {
  width: 100%; }

.grid.condensed .row.cells12 > .cell.offset1 {
  margin-left: 8.33333333%; }

.grid.condensed .row.cells12 > .cell.offset2 {
  margin-left: 16.66666667%; }

.grid.condensed .row.cells12 > .cell.offset3 {
  margin-left: 25%; }

.grid.condensed .row.cells12 > .cell.offset4 {
  margin-left: 33.33333333%; }

.grid.condensed .row.cells12 > .cell.offset5 {
  margin-left: 41.66666667%; }

.grid.condensed .row.cells12 > .cell.offset6 {
  margin-left: 50%; }

.grid.condensed .row.cells12 > .cell.offset7 {
  margin-left: 58.33333333%; }

.grid.condensed .row.cells12 > .cell.offset8 {
  margin-left: 66.66666667%; }

.grid.condensed .row.cells12 > .cell.offset9 {
  margin-left: 75%; }

.grid.condensed .row.cells12 > .cell.offset10 {
  margin-left: 83.33333333%; }

.grid.condensed .row.cells12 > .cell.offset11 {
  margin-left: 91.66666667%; }

.grid.condensed .row.cells12 > .cell.offset12 {
  margin-left: 100%; }

.flex-grid {
  display: block;
  width: 100%; }

.flex-grid .row {
  display: -webkit-flex;
  display: flex; }

.flex-grid .row .cell {
  -webkit-flex: 0 0 8.33333333%;
  flex: 0 0 8.33333333%; }

.flex-grid .row.cell-auto-size .cell {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto; }

.flex-grid .row .cell.colspan2 {
  -webkit-flex: 0 0 16.66666666%;
  flex: 0 0 16.66666666%; }

.flex-grid .row .cell.colspan3 {
  -webkit-flex: 0 0 24.99999999%;
  flex: 0 0 24.99999999%; }

.flex-grid .row .cell.colspan4 {
  -webkit-flex: 0 0 33.33333332%;
  flex: 0 0 33.33333332%; }

.flex-grid .row .cell.colspan5 {
  -webkit-flex: 0 0 41.66666665%;
  flex: 0 0 41.66666665%; }

.flex-grid .row .cell.colspan6 {
  -webkit-flex: 0 0 49.99999998%;
  flex: 0 0 49.99999998%; }

.flex-grid .row .cell.colspan7 {
  -webkit-flex: 0 0 58.33333331%;
  flex: 0 0 58.33333331%; }

.flex-grid .row .cell.colspan8 {
  -webkit-flex: 0 0 66.66666664%;
  flex: 0 0 66.66666664%; }

.flex-grid .row .cell.colspan9 {
  -webkit-flex: 0 0 74.99999997%;
  flex: 0 0 74.99999997%; }

.flex-grid .row .cell.colspan10 {
  -webkit-flex: 0 0 83.3333333%;
  flex: 0 0 83.3333333%; }

.flex-grid .row .cell.colspan11 {
  -webkit-flex: 0 0 91.66666663%;
  flex: 0 0 91.66666663%; }

.flex-grid .row .cell.colspan12 {
  -webkit-flex: 0 0 99.99999996%;
  flex: 0 0 99.99999996%; }

.flex-grid .row .cell.size1 {
  -webkit-flex: 0 0 8.33333333%;
  flex: 0 0 8.33333333%; }

.flex-grid .row .cell.size2 {
  -webkit-flex: 0 0 16.66666666%;
  flex: 0 0 16.66666666%; }

.flex-grid .row .cell.size3 {
  -webkit-flex: 0 0 24.99999999%;
  flex: 0 0 24.99999999%; }

.flex-grid .row .cell.size4 {
  -webkit-flex: 0 0 33.33333332%;
  flex: 0 0 33.33333332%; }

.flex-grid .row .cell.size5 {
  -webkit-flex: 0 0 41.66666665%;
  flex: 0 0 41.66666665%; }

.flex-grid .row .cell.size6 {
  -webkit-flex: 0 0 49.99999998%;
  flex: 0 0 49.99999998%; }

.flex-grid .row .cell.size7 {
  -webkit-flex: 0 0 58.33333331%;
  flex: 0 0 58.33333331%; }

.flex-grid .row .cell.size8 {
  -webkit-flex: 0 0 66.66666664%;
  flex: 0 0 66.66666664%; }

.flex-grid .row .cell.size9 {
  -webkit-flex: 0 0 74.99999997%;
  flex: 0 0 74.99999997%; }

.flex-grid .row .cell.size10 {
  -webkit-flex: 0 0 83.3333333%;
  flex: 0 0 83.3333333%; }

.flex-grid .row .cell.size11 {
  -webkit-flex: 0 0 91.66666663%;
  flex: 0 0 91.66666663%; }

.flex-grid .row .cell.size12 {
  -webkit-flex: 0 0 99.99999996%;
  flex: 0 0 99.99999996%; }

.flex-grid .row .cell.size-p10 {
  -webkit-flex: 0 0 10%;
  flex: 0 0 10%; }

.flex-grid .row .cell.size-p20 {
  -webkit-flex: 0 0 20%;
  flex: 0 0 20%; }

.flex-grid .row .cell.size-p30 {
  -webkit-flex: 0 0 30%;
  flex: 0 0 30%; }

.flex-grid .row .cell.size-p40 {
  -webkit-flex: 0 0 40%;
  flex: 0 0 40%; }

.flex-grid .row .cell.size-p50 {
  -webkit-flex: 0 0 50%;
  flex: 0 0 50%; }

.flex-grid .row .cell.size-p60 {
  -webkit-flex: 0 0 60%;
  flex: 0 0 60%; }

.flex-grid .row .cell.size-p70 {
  -webkit-flex: 0 0 70%;
  flex: 0 0 70%; }

.flex-grid .row .cell.size-p80 {
  -webkit-flex: 0 0 80%;
  flex: 0 0 80%; }

.flex-grid .row .cell.size-p90 {
  -webkit-flex: 0 0 90%;
  flex: 0 0 90%; }

.flex-grid .row .cell.size-p100 {
  -webkit-flex: 0 0 100%;
  flex: 0 0 100%; }

.flex-grid .row .cell.size-x100 {
  -webkit-flex: 0 0 100px;
  flex: 0 0 100px; }

.flex-grid .row .cell.size-x200 {
  -webkit-flex: 0 0 200px;
  flex: 0 0 200px; }

.flex-grid .row .cell.size-x300 {
  -webkit-flex: 0 0 300px;
  flex: 0 0 300px; }

.flex-grid .row .cell.size-x400 {
  -webkit-flex: 0 0 400px;
  flex: 0 0 400px; }

.flex-grid .row .cell.size-x500 {
  -webkit-flex: 0 0 500px;
  flex: 0 0 500px; }

.flex-grid .row .cell.size-x600 {
  -webkit-flex: 0 0 600px;
  flex: 0 0 600px; }

.flex-grid .row .cell.size-x700 {
  -webkit-flex: 0 0 700px;
  flex: 0 0 700px; }

.flex-grid .row .cell.size-x800 {
  -webkit-flex: 0 0 800px;
  flex: 0 0 800px; }

.flex-grid .row .cell.size-x900 {
  -webkit-flex: 0 0 900px;
  flex: 0 0 900px; }

.flex-grid .row .cell.size-x1000 {
  -webkit-flex: 0 0 1000px;
  flex: 0 0 1000px; }

.flex-grid .row .cell.auto-size {
  -webkit-flex: 1 auto;
  flex: 1 auto; }

.main_visual {
  height: 5.625rem; }

.main_image {
  background-color: white;
  width: 100%;
  z-index: 9;
  height: 5.625rem;
  border-top: 1px solid #d7d7d7;
  overflow: hidden;
  margin: 0 auto;
  position: relative; }

.main_image ul {
  width: 100%;
  height: 5.625rem;
  position: absolute;
  top: 0;
  left: 0; }

.main_image li {
  float: left;
  width: 100%;
  height: 5.625rem; }

.main_image li span {
  float: left;
  display: block;
  width: 100%;
  height: 5.625rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.main_image li a {
  display: block;
  width: 100%;
  height: 5.625rem; }

div.flicking_con {
  position: relative; }

div.flicking_con .flicking_inner {
  display: inline-block;
  left: 50%;
  top: 5.16rem;
  position: absolute;
  z-index: 33;
  height: 21px;
  text-align: center; }

div.flicking_con a {
  float: left;
  width: 21px;
  height: 21px;
  margin: 0;
  padding: 0;
  background: url(../img/btn_main_img.png) 0 0 no-repeat;
  display: inline-block; }

div.flicking_con a.on {
  background-position: 0 -21px; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  -ms-touch-action: none; }

body, ul, li {
  padding: 0;
  margin: 0;
  border: 0;
  list-style: none; }

body {
  font-size: 14px;
  font-family: "Microsoft YaHei UI Light"; }

header, #header {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  background: white;
  padding: 0;
  color: #333333;
  font-size: 20px;
  text-align: center;
  -webkit-box-shadow: 0 2px 4px #bbbbbb;
  box-shadow: 0 2px 4px #bbbbbb; }

footer, #footer {
  position: absolute;
  z-index: 99;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 48px;
  background: white;
  padding: 0;
  -webkit-box-shadow: 2px 0 4px #bbbbbb;
  box-shadow: 2px 0 4px #bbbbbb; }
  footer .footer_che, #footer .footer_che {
    margin: 0 auto;
    margin-top: 10px;
    width: 32px;
    height: 32px;
    background-image: url("../img/icon_che_info.png");
    background-size: contain;
    background-repeat: no-repeat; }
    footer .footer_che .tip, #footer .footer_che .tip {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: #ff0000;
      font-size: 12px;
      color: white;
      line-height: 16px;
      float: right; }
  footer .footer_heart, #footer .footer_heart {
    margin: 0 auto;
    margin-top: 10px;
    width: 32px;
    height: 32px;
    background-image: url("../img/heart.png");
    background-size: contain;
    background-repeat: no-repeat; }
    footer .footer_heart.active, #footer .footer_heart.active {
      background-image: url("../img/heart_active.png"); }

#footer_info {
  position: absolute;
  z-index: 100;
  height: 45px;
  width: 100%;
  bottom: 50px;
  -webkit-box-shadow: 0 -2px 2px #ccc;
  box-shadow: 0 -2px 2px #ccc; }

#wrapper {
  position: absolute;
  z-index: 1;
  top: 0;
  margin-top: 45px;
  bottom: 48px;
  left: 0;
  width: 100%;
  background: #f1f1f1;
  overflow: auto; }

#wrapper_left {
  width: 3rem;
  position: absolute;
  z-index: 1;
  top: 0;
  margin-top: 45px;
  bottom: 0;
  left: 0;
  background: #f6f6f6;
  overflow-y: auto; }
  #wrapper_left ul {
    margin-left: 0;
    text-align: center; }
    #wrapper_left ul .add_icon_right:after {
      margin-top: 8px;
      margin-right: 8px;
      float: right;
      content: ' ';
      display: inline-block;
      width: 16px;
      height: 16px;
      background-image: url("../img/icon/icon_down.png");
      background-size: contain;
      background-repeat: no-repeat; }
    #wrapper_left ul .active p.add_icon_right:after {
      content: ' ';
      display: inline-block;
      width: 16px;
      height: 16px;
      background-image: url("../img/icon/icon_up.png");
      background-size: contain;
      background-repeat: no-repeat; }
    #wrapper_left ul p {
      margin: 0 auto; }
    #wrapper_left ul li {
      margin-left: 0;
      line-height: 36px;
      border: 1px solid #ececec; }
      #wrapper_left ul li:nth-last-of-type(1) {
        border-bottom: none; }
      #wrapper_left ul li ul .active {
        color: white;
        background-color: #58cef9; }
        #wrapper_left ul li ul .active li {
          background-color: #f6f6f6;
          color: black; }

#wrapper_right {
  width: 7rem;
  position: absolute;
  z-index: 1;
  top: 0;
  margin-top: 45px;
  bottom: 0;
  right: 0;
  background: white;
  overflow-y: auto; }

#wrapper_main {
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  margin-top: 45px;
  bottom: 0;
  background: #f6f6f6;
  overflow-y: auto; }

#scroller {
  position: absolute;
  overflow: hidden;
  z-index: 1;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none; }

.add_icon_left_before:before {
  content: ' ';
  display: inline-block;
  width: 16px;
  height: 24px;
  background-image: url("../img/icon/icon_left.png");
  background-size: contain;
  background-repeat: no-repeat; }

.add_icon_map:before {
  content: ' ';
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../img/icon/icon_map.png");
  background-size: contain;
  background-repeat: no-repeat; }

.add_icon_001:before {
  content: ' ';
  display: inline-block;
  width: 18px;
  height: 20px;
  background-image: url("../img/icon/icon_001.png");
  background-size: contain;
  background-repeat: no-repeat; }

.add_icon_peijian:before {
  content: ' ';
  display: inline-block;
  width: 18px;
  height: 20px;
  background-image: url("../img/icon/icon_peijian.png");
  background-size: contain;
  background-repeat: no-repeat; }

.add_icon_huo:before {
  content: ' ';
  display: inline-block;
  width: 18px;
  height: 20px;
  background-image: url("../img/icon/icon_huo.png");
  background-size: contain;
  background-repeat: no-repeat; }

.add_icon_horn:before {
  content: ' ';
  display: inline-block;
  width: 18px;
  height: 20px;
  background-image: url("../img/icon/icon_horn.png");
  background-size: contain;
  background-position: 0 5px;
  background-repeat: no-repeat; }

.add_icon_edit:before {
  content: ' ';
  display: inline-block;
  width: 52px;
  height: 28px;
  background-image: url("../img/icon/icon_edit.png");
  background-size: contain;
  background-repeat: no-repeat; }

.add_icon_deleted:before {
  content: ' ';
  display: inline-block;
  width: 52px;
  height: 28px;
  background-image: url("../img/icon/icon_deleted.png");
  background-size: contain;
  background-repeat: no-repeat; }

.add_icon_left_search:before {
  content: ' ';
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("../img/icon/icon_search.png");
  background-size: contain;
  background-repeat: no-repeat; }

.add_icon_right_after:after {
  content: ' ';
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url("../img/icon/icon_right_1.png");
  background-size: contain;
  background-repeat: no-repeat; }

.add_icon_checked_normal:before {
  content: ' ';
  display: inline-block;
  width: 0.56rem;
  height: 0.42rem;
  background-image: url("../img/icon/icon_checked_normal.png");
  background-size: contain;
  background-repeat: no-repeat; }

.active.add_icon_checked_normal:before {
  content: ' ';
  display: inline-block;
  width: 0.56rem;
  height: 0.42rem;
  background-image: url("../img/icon/icon_checked_active.png");
  background-size: contain;
  background-repeat: no-repeat; }

.add_icon_navigation_before:before {
  content: ' ';
  display: inline-block;
  width: 0.56rem;
  height: 0.56rem;
  background-image: url("../img/icon/icon_navigation.png");
  background-size: contain;
  background-repeat: no-repeat; }

.add_icon_nav_white_be:before {
  content: ' ';
  display: inline-block;
  width: 0.52rem;
  height: 0.52rem;
  background-image: url("../img/icon/icon_nav_white.png");
  background-size: contain;
  background-repeat: no-repeat; }

.add_icon_down:after {
  margin-left: 5px;
  content: ' ';
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("../img/icon/icon_down.png");
  background-size: contain;
  background-repeat: no-repeat; }

.active .add_icon_down:after {
  background-image: url("../img/icon/icon_up.png"); }

.add_icon_info_down:after {
  float: right;
  margin-left: 5px;
  margin-top: 2px;
  content: ' ';
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("../img/icon/icon_info_slidedown.png");
  background-size: contain;
  background-repeat: no-repeat; }

.active .add_icon_info_down:after {
  background-image: url("../img/icon/icon_info_slideup.png"); }

.add_icon_user_header:before {
  margin-left: 5px;
  content: ' ';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../img/icon/icon_header.png");
  background-size: contain;
  background-repeat: no-repeat; }

.add_icon_phone:before {
  margin-left: 5px;
  content: ' ';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../img/icon/icon_phone.png");
  background-size: contain;
  background-repeat: no-repeat; }

.add_icon_user_header:before {
  margin-left: 5px;
  content: ' ';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../img/icon/icon_header.png");
  background-size: contain;
  background-repeat: no-repeat; }

.add_icon_help:before {
  float: left;
  margin-top: 3px;
  margin-right: 5px;
  content: ' ';
  display: inline-block;
  width: 20px;
  height: 22px;
  background-image: url("../img/icon/icon_help.png");
  background-size: contain;
  background-repeat: no-repeat; }

.add_icon_checked:before {
  float: left;
  margin-top: 3px;
  margin-right: 5px;
  content: ' ';
  display: inline-block;
  width: 20px;
  height: 24px;
  background-image: url("../img/icon/icon_checked_normal.png");
  background-size: contain;
  background-repeat: no-repeat; }

.active .add_icon_checked:before {
  float: left;
  margin-top: 3px;
  margin-right: 5px;
  content: ' ';
  display: inline-block;
  width: 20px;
  height: 24px;
  background-image: url("../img/icon/icon_checked_active.png");
  background-size: contain;
  background-repeat: no-repeat; }

.add_icon_info_heart:before {
  float: left;
  margin-top: 3px;
  margin-right: 5px;
  content: ' ';
  display: inline-block;
  width: 20px;
  height: 22px;
  background-image: url("../img/icon_info_heart.png");
  background-size: contain;
  background-repeat: no-repeat; }

.add_icon_nav:before {
  content: ' ';
  display: inline-block;
  width: 16px;
  height: 18px;
  background-image: url("../img/icon/icon_navigation_001.png");
  background-size: contain;
  background-repeat: no-repeat; }

.add_icon_true:before {
  margin-left: 5px;
  content: ' ';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../img/icon/icon_false.png");
  background-size: contain;
  background-repeat: no-repeat; }

.add_icon_map_1:before {
  content: ' ';
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("../img/map_icon_false.png");
  background-size: contain;
  background-repeat: no-repeat; }

.add_icon_list:before {
  content: ' ';
  display: inline-block;
  width: 22px;
  height: 22px;
  background-image: url("../img/icon/icon_list.png");
  background-size: contain;
  background-repeat: no-repeat; }

.active .add_icon_map_1:before {
  content: ' ';
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("../img/map_icon_true.png");
  background-size: contain;
  background-repeat: no-repeat; }

.active.add_icon_true:before {
  margin-left: 5px;
  content: ' ';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../img/icon/icon_true.png");
  background-size: contain;
  background-repeat: no-repeat; }

.active .add_icon_true:before {
  margin-left: 5px;
  content: ' ';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../img/icon/icon_true.png");
  background-size: contain;
  background-repeat: no-repeat; }

.black_overlay {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.3;
  opacity: .30;
  filter: alpha(opacity=33); }

.white_content {
  border-radius: 5px;
  text-align: center;
  display: none;
  position: fixed;
  top: 32%;
  left: 16%;
  width: 68%;
  background-color: white;
  z-index: 1002; }
  .white_content .dialog_content {
    padding: 25px 0;
    border-top: 1px solid #d5d8df;
    border-bottom: 1px solid #d5d8df; }
  .white_content .dialog_footer .left {
    width: 50%;
    float: left;
    text-align: center; }
  .white_content .dialog_footer .right {
    width: 50%;
    float: right;
    border-left: 1px solid #d5d8df;
    text-align: center;
    color: #1dadee; }

/*# sourceMappingURL=style.css.map */
